<div class="login">
    <div class="login__container">
        <div class="login__content">
            <h2>Login</h2>
            <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="login__input">
                    <input type="text" formControlName="account" placeholder="Account">
                </div>
                <div class="login__input">
                    <input type="password" formControlName="password" placeholder="Password">
                </div>
                <button class="btn">LOGIN</button>
            </form>
        </div>
    </div>
</div>
