.head{
    display: none;
    width: 100%;
    background-color: #A8B5C0;
    &__content{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    &__logo{
        margin: 6px;
        flex-grow: 1;
    }
    &__item{
        margin: 0px 6px;
        cursor: pointer;
    }
}
.menu{
    width: 100%;
    height: calc(100vh - 63px);
    &__close{
        display: none;
    }
    &__open{
        display: block;
        &--active{
            background: chocolate;
        }
    }
}
@media (max-width:1023px){
    .head{
        display: block;
    }
}