<div class="sidebar">
  <div class="sidebar__profile"></div>
  <ul class="sidebar__content">
    <li class="sidebar__item  sidebar__item--active">
      <p class="sidebar__item--link" [routerLink]="['/']">HOME</p>
    </li>
    <li class="sidebar__item  sidebar__item--active">
      <p class="sidebar__item--link" [routerLink]="['/addtask']">Create Task</p>
    </li>
    <li class="sidebar__item  sidebar__item--active">
      <p class="sidebar__item--link" [routerLink]="['/listtask']">List Task</p>
    </li>
  </ul>
  <div class="sidebar__setting">
  </div>
</div>